# files
*.log
*.mro
.Rhistory

# folders
.snakemake/
benchmarks/
logs/
results/
pypette/
logs/
results_old/
.Rproj.user

workflow/test/R_code/out/
workflow/test/R_code/data/
workflow/test/velocyto/connect_5k_pbmc_NGSC3_ch1_gex_1/
workflow/test/cellbender/example/
workflow/test/cellbender/test_connect_5k_pbmc