
# files
*.log
*.mro
.Rhistory

# folders
.snakemake/
benchmarks/
logs/
results/
pypette/
logs/
results_old/
.Rproj.user
workflow/test/R_code/out/
workflow/test/R_code/data/

# this is just a test
# this line is added in main
# add a line for git test
